.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/
/plots/
/old_repo/
/public_data/.pdf
/Man/
# Do not track big ome data (added by trainomeMetaData)
/ome-data/

/data_new/
/Intron_retention_manuscript.qmd
Intron_retention_manuscript.docx
/Figures/